<div class="card">
  <h5 class="card-header bg-primary">
    Lista de Asignatura</h5>
  <div class="card-body">
    <table class="table caption-top">
      <caption></caption>
      <thead>
        <tr>
          <th scope="col">Denominación</th>
          <th scope="col">Sigla</th>
          <th scope="col">Credito</th>

        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let itemEstudiante of  estudianteLista">
          <th>{{itemEstudiante.denominacion}}</th>
          <td>{{itemEstudiante.sigla}}</td>
          <td>{{itemEstudiante.credito}}</td>

        </tr>
        <tr>
      </tbody>
    </table>
    <a  class="btn btn-primary" [routerLink]="['/estudiantes/registro']">Registrar asignatura</a>
  </div>
</div>
